
<div class="container">
    <div class="row">
      <div class="col">
        <fusioncharts
            [type]="chartConfig.type"
            [width]="chartConfig.width"
            [height]="chartConfig.height"
            [dataFormat]="chartConfig.dataFormat"
            [dataSource]="chartConfig.dataSource">
        </fusioncharts>
        <table class="table table-striped table-bordered spaced-columns">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col" (click)="onSort('title')">Title <span [ngClass]="getSortClass('title')"></span></th>
                  <th scope="col" (click)="onSort('source')">Source <span [ngClass]="getSortClass('source')"></span></th>
                  <th scope="col" (click)="onSort('publishedDate')">Published Date <span [ngClass]="getSortClass('publishedDate')"></span></th>
                  <th scope="col">URL</th>
                  <th scope="col" (click)="onSort('fullTextSearchScore')">Full Text Search Score <span [ngClass]="getSortClass('fullTextSearchScore')"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let article of news; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ article.title }}</td>
                    <td>{{ article.source }}</td>
                    <td>{{ article.publishedDate | date: 'short' }}</td>
                    <td><a href="{{ article.url }}">{{ article.url }}</a></td>
                    <td>{{ article.fullTextSearchScore }}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
  